<form action="/addQuestion" method="POST">
    <div class="mdl-card mdl-shadow--2dp" style="margin: 0 auto">

        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">
                Create new question
            </h4>
        </div>

        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea type="text" name="question" class="mdl-textfield__input"></textarea>
                <label class="mdl-textfield__label">Question</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="text" name="answer" class="mdl-textfield__input" />
                <label class="mdl-textfield__label" for="">Answer</label>
            </div>
        </div>

        <div class="mdl-card__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">save</i> Add question
            </button>
        </div>

    </div>
    
</form>