<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Answer</th>
            <th>Verified</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {{#each questions}}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{this.title}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{this.answer}}</td>
                <td>{{this.isVerified}}</td>
                <td>{{dateFormat this.created}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>