<div class="container">
    <div class="card">
        <div class="card-block">
            <div class="card-title">Active Quizzes ({{quizzes.length}})</div>
            <ul class="list-group">
                {{#each quizzes}}                
                    <li class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="mb-1">{{this.question.title}}</div>
                            <small>chat_id: {{this.chatId}}</small>
                        </div>
                        <b>{{this.question.answer}}</b>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>