<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
    <thead>
        <tr>
            <th>ChatId</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Answer</th>
        </tr>
    </thead>
    <tbody>
        {{#each quizzes}}
            <tr>
                <td>{{this.chatId}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{this.question.title}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{this.question.answer}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>